/ .container
/ 	.row
/ 		.col-md-3
/ 		.col-md-6
/ 			= form_for(Task.new, remote: true, id: "new-form") do |f|
/ 				= f.text_field :title, class: "new-input"
/ 				= f.submit 'Save', :id => 'save', class: 'btn btn-primary'
/ 		.col-md-3
/ 	%br

#task-list.container 
	= render partial: 'tasks/task_list', locals: {tasks: @tasks}

%br
//= button_to 'New Task', new_task_path

= button_tag(type: "button", class: "btn btn-primary", id: "new-task-btn") do
	= content_tag(:strong, "New task")
.modal.fade{id: "new-task-modal"}
	.modal-header
		%h1 Tasks
	= form_for(Task.new, remote: true, id: "new-form") do |f|
		= render "form", f: f
